@import "./variables";

.btn-container {
  display: flex;
  justify-content: center;
  button {
    border-radius: 5px;
    color: white;
    margin-top: 5px;
  }
  &--small {
    background-color: $darkestGreen;
    padding: 5px;
  }
  &--large {
    background-color: $darkGreen;
    padding: 5px 10px;
    margin-left: 5px;
  }
}
