@import "./scss/reset", "./scss/variables";
@import "./scss/buttons";

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
h1 {
  color: red;
}
h2 {
  color: green;
  font-size: 20px;
}
p {
  font-size: 14px;
}
