@import "../../scss/variables";

footer {
  background-color: $darkestGreen;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  p {
    color: white;
    text-align: center;
  }
}
